#RewriteEngine on
#
## Redirect to index.php for all requests except /assets/*
#RewriteCond %{REQUEST_URI} !^/IlyasChaoui-Wiki/assets/
#RewriteRule ^ index.php [L]
#
## Allow direct access to assets folder
#<IfModule mod_rewrite.c>
#    RewriteRule ^IlyasChaoui-Wiki/assets/ - [L]
#</IfModule>